body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  margin: auto;
  color: white;
  padding-right: 0;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.iphone-dog {
  transform: rotate(30deg);
  width: 52.5%;
  position: absolute;
  right: 30%
}

/* navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Download button */
.download {
  margin: 5% 3% 5% 0;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-column {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  padding: 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-images {
  width: 10%;
  border-radius: 100%;
  margin: 1.25rem;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-line{
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 0% 10%;
}


/* Footer */

#footer{
  background-color: white;
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone-dog {
    position: static;
    transform: rotate(0);
  }
}
